body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  color: #40514e;
}

a {
  color: #11999E;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  font-weight: normal;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  margin: 80px auto 80px auto;
  width: 3%;
}

.top-container {
  background-color: #a8d8ea;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  background-color: #f7f7f7;
}

.bottom-container {
  background-color: #a8d8ea;
  padding-bottom: 20px;
  padding-top: 40px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.pro {
  text-decoration: line-through;
}

.skill-row {
  line-height: 2;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.me-img {
  height: auto;
  margin-top: 50px;
  width: 25%;
}

.semi-img {
  float: left;
  padding-right: 30px;
  width: 25%;
}

.tails-img {
  float: right;
  padding-left: 30px;
  width: 25%;
}

.contact-button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 100;
  padding: 10px;
  background-color: #3D94F6;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 40px 0 60px 0;
}

.contact-button:hover {
  background: #11999E;
  border: solid #11999E 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.footer-link {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-credit {
  color: #EAF6F6;
  font-size: 0.7REM;
  padding-bottom: 10px;
  padding-top: 10px;
}
